body {
    background-image: url(doll.jpg);
}

img {
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 -40px 29px #000000, 0 40px 29px #000000;
    opacity: 95%;


}

button {
    font-size: 2.5rem;
    background-color: rgba(239, 192, 157, 0);
    font-family: 'Lovers Quarrel', cursive;
    margin: 4vw;
    color: #ffe1cb;
    font-weight: 100;
    border-radius: 40px;
    border: 9px double #db813d;
    padding: 0.5vw;
    text-align: center;
}



h2 {
    color: beige;
    text-align: center;
    font-family: 'Lovers Quarrel', cursive;
    text-align: center;
    color: beige;
    font-size: 7rem;
    font-weight: 100;
    text-shadow: 0 -2px 8px #FFF;
}

p {
    font-family: fantasy;
    color: beige;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 8vw;
    text-shadow: 0 -2px 8px #FFF;

}
